# === Python bytecode ===
__pycache__/
*.py[cod]
*.pyc

# === Virtual environments ===
venv/
env/
.venv/

# === Editor/IDE junk ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === OS junk ===
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === Environment/config files ===
.env
*.env

media/
.sqlite3
*.sqlite3
